<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="mailto:vinodriyer15@gmail.com">Email</a></li>
				<li><a href="https://www.linkedin.com/in/vinodriyer/">LinkedIn</a></li>
	        		<li><a href="https://github.com/VinodIyer1">Github</a></li>
	    		</ul>
			</nav>
			<div class="container">
			  
			{{ content }}
			<p>Resume</p>
			<object data="Vinod_Resume.pdf" height="1250px" width="100%"></object>
			
			</div><!-- /.container -->
			
		</body>
	</html>
